<!-- First part of the output: the function name stated -->
<div>
	<h1>Programing Being run: {{ function_name }}... {{data_contents.keys}}</h1>
</div>

<!-- Then we make the table of inputs avalible. More functionality with required arguments and stuff will be added eventually -->
<div>
	<form action={{request.path}}/ method="GET">
		{% for imp in data_contents.keys %}
			<div>
				<label for={{imp}}>{{request.path}} </label>
				<input id={{imp}} type="text" name={{imp}} value="startvalue">
			</div>
		{% endfor %}
		<input type="submit" value="button_name">
	</form>
</div>

<!-- Now we make a button that allows you to run with the inputs -->
<!-- nothing else is really set up to deal with this because I have never done it before and the templates arn't working -->
<div>
	<form action="/run/" method="get">
		<input type="run" value="Run">
	</form>
</div>
<div>
	<p class="output"></p>
</div>
